[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/dss-gate"]
	path = lib/dss-gate
	url = https://github.com/deco-protocol/dss-gate
[submodule "lib/claim-fee-maker"]
	path = lib/claim-fee-maker
	url = https://github.com/deco-protocol/claim-fee-maker
[submodule "lib/dss-interfaces"]
	path = lib/dss-interfaces
	url = https://github.com/makerdao/dss-interfaces
